.upper 
{
    width: 400px;
    height: 300px;
    border: 2px, solid, black;
}
.a
{
    width: 400px;
    height: 300px;
    background-color:rgb(222, 40, 16) ;
}


img
{
    height: 50px;
    width: 50px;
    position: relative;
    left: 10px;
    padding: 40px;
}

  /* Small stars - positioned and rotated correctly */
  .star.s1 {
    top: 40px;
    left: 125px;
    transform: rotate(30deg);
    color: rgb(255, 193, 7);
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
}

  .star.s2 {
    top: 80px;
    left: 140px;
    transform: rotate(5deg);
    color: rgb(255, 193, 7);
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .star.s3 {
    top: 60px;
    left: 140px;
    transform: rotate(-15deg);
    color: rgb(255, 193, 7);
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
  }

  .star.s4 {
    top: 100px;
    left: 125px;
    transform: rotate(-35deg);
    color: rgb(255, 193, 7);
    position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
  }

